.navmaindiv {
  background-color: #3b82f6;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  height: 4rem;
}
.navmaindiv > a {
  font-family: "Merriweather", serif;
  text-decoration: none;
  /* background-color: red; */
  color: #fff;
  font-size: 2rem;
  margin: 5px 10px 5px;
  border-radius: 15px;
  padding: 0 10px;
}
.navmaindiv > a > :nth-child(1) {
  color: #000;
  font-weight: bold;
  background-color: #fff;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 1px 3px 6px 12px;
}
.navmaindiv > a > :nth-child(2) {
  color: #fff;
}
.navmaindiv > div {
  display: none;
  align-items: center;
  justify-content: space-evenly;
}
.navmaindiv > div > a {
  font-family: "Roboto", sans-serif;
  border: 2px solid #3b82f6;
  border-radius: 23px;
  padding: 5px 10px;
  background-color: #3b82f6;
  color: #fff;
  font-weight: bold;
}
.navmaindiv > div > a:hover {
  background-color: #fff;
  color: #3b82f6;
}
.navheighbelow {
  margin-top: 4rem;
}
.navLoginBtn {
  background-color: #fff !important;
  color: #3b82f6 !important;
}
.navhamburger {
  display: block;
  position: absolute;
  right: 10px;
  top: 15px;
  /* background-color: red; */
  color: #fff;
  border-radius: 3px;
}
/* tab */
@media (min-width: 40rem) {
  .navmaindiv {
    height: 4rem;
  }
  .navmaindiv > a {
    font-size: 2rem;
    margin: 10px 10px 10px;
    border-radius: 15px;
    padding: 0 10px;
  }
  .navmaindiv > div {
    display: flex;
    column-gap: 2rem;
    margin-right: 10px;
  }
  .navheighbelow {
    margin-top: 4rem;
  }
  .navhamburger {
    display: none;
  }
}

/*lap */
@media (min-width: 80rem) {
  .navmaindiv {
    height: 4rem;
  }
  .navmaindiv > a {
    font-size: 2rem;
    margin: 10px 40px 10px;
    border-radius: 15px;
    padding: 0 10px;
  }
  .navmaindiv > div {
    display: flex;
    column-gap: 3rem;
    margin-right: 40px;
  }
  .navheighbelow {
    margin-top: 4rem;
  }
  .navhamburger {
    display: none;
  }
}
