.trip_id_first_tile {
  margin: 0 auto;
}

.trip_id_spinner {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.trip_id_details_div {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 1rem auto;
}

.trip_id_details_div > div {
  width: 20rem;
  text-align: center;
}

.trip_id_details_div > div > p {
  letter-spacing: 1px;
}

.trip_id_details_div > div > p > :first-child {
  font-weight: bold;
  font-family: "Merriweather", serif;
}

.trip_id_client_id {
  height: 13rem;
  object-fit: cover;
  width: 30rem;
}

.trip_id_partner_id {
  height: 13rem;
  object-fit: cover;
  width: 30rem;
}

/* tab */
@media (min-width: 40rem) {
  .trip_id_first_tile {
    width: 40rem;
  }
}

/*lap */
@media (min-width: 80rem) {
  .trip_id_first_tile {
    width: 40rem;
  }
}
