<p>
  By using our website, you hereby consent to our Cancellation & Refund Policy
  and agree to its terms.
</p>

<h2><strong>Cancellation Policy</strong></h2>
<p>You can cancel the booking as per your convenience.</p>

<h2><strong>Refund Policy</strong></h2>
<p>
  If you(client/consumer) cancels the booking through email/sms/whatsApp/call,
  then, he/she(consumer/client) can not claim a refund. In the above mentioned
  situation, GadiForMe will take a decision about whether to process the refund
  or cancel it.
  <br />
  But, If the Registered Partner(Cab Owner/Driver) cancels the booking, then,
  within 3 Hrs. of the Acknowledgement of cancellation of booking, we will
  initiate the refund of the amount you paid to the respective payment method.
  And, If in case time exceeds than 3 Hrs, then, we will take it on priority to
  provide you a refund, but we will not be accountable/responsible of any
  other/extra amount claimed by you for the refund issued post 3 Hrs.
</p>
