<div class="fabs">
  <a class="call-btn" href="tel:+918077015752"
    ><i class="fa-solid fa-phone fa-2x"></i
  ></a>
  <a
    class="whatsapp-btn"
    target="_blank"
    href="https://wa.me/+918077015752?text=Hey%20GadiForMe,%0AI%20want%20to%20ask:%0A"
    ><i class="fa-brands fa-whatsapp fa-3x"></i
  ></a>
</div>
