
<div
  class="modal fade"
  id="queryModal"
  tabindex="-1"
  aria-labelledby="queryModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="queryModalLabel">
          Tell Us Your Contact Info.
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="d-flex gap-2 justify-content-evenly flex-wrap">
          <div class="" style="width:11rem;">
            <label for="Name" class="col-form-label">Your Name:</label>
            <input
              type="text"
              name="name"
              class="form-control"
              id="Name"
              placeholder="Name"
            />
          </div>
          <div class="" style="width:11rem;">
            <label for="Phone" class="col-form-label"
              >Your WhatsApp No./Phone No.:</label
            >
            <input
              type="number"
              name="phone"
              class="form-control"
              id="Phone"
              placeholder="Phone"
            />
          </div>
          <div class="" style="width:11rem;">
            <label for="fromState" class="col-form-label">From State:</label>
            <input
              type="text"
              name="State"
              class="form-control"
              id="fromState"
              placeholder="From State"
            />
          </div>
          <div class="" style="width:11rem;">
            <label for="fromCity" class="col-form-label">From City:</label>
            <input
              type="text"
              name="City"
              class="form-control"
              id="fromCity"
              placeholder="From City"
            />
          </div>
          <div class="" style="width:11rem;">
            <label for="fromPlace" class="col-form-label">From Place:</label>
            <input
              type="text"
              name="Place"
              class="form-control"
              id="fromPlace"
              placeholder="From Place"
            />
          </div>
          <div class="" style="width:11rem;">
            <label for="toState" class="col-form-label">To State:</label>
            <input
              type="text"
              name="State"
              class="form-control"
              id="toState"
              placeholder="To State"
            />
          </div>
          <div class="" style="width:11rem;">
            <label for="toCity" class="col-form-label">To City:</label>
            <input
              type="text"
              name="City"
              class="form-control"
              id="toCity"
              placeholder="To City"
            />
          </div>
          <div class="" style="width:11rem;">
            <label for="toPlace" class="col-form-label">To Place:</label>
            <input
              type="text"
              name="Place"
              class="form-control"
              id="toPlace"
              placeholder="To Place"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          <i class="fa-solid fa-times"></i> Cancel
        </button>
        <button type="button" class="btn btn-success" onclick="handleSubmitQueryModal();">
          <i class="fa-solid fa-paper-plane"></i> Send
        </button>
      </div>
    </div>
  </div>
</div>
