<div class="d-flex justify-content-center">
  <img
    src="/images/home-tile-1.jpg"
    alt="GadiForMe www.gadifor.me Cabs"
    class="home-5-img-1"
  />
</div>
<h2 class="text-center m-2">Your One Stop Solution for Cabs, Private Cars & Luxury Cars.</h2>
