<h1 class="home-1-txt-1">
  Trip made <span style="color: #805ad5">Convenient, Safe & Affordable</span>
</h1>
<p class="home-1-txt-2">
  Avoid the Hefty Charges of Other Cabs. Select from the Fleet & Filter as per
  your convenience.
</p>
<div class="d-flex justify-content-center gap-5 home-1-btng-1">
  <button
    type="button"
    class="px-4 fw-bold btn text-white rounded-pill"
    data-bs-toggle="modal"
    data-bs-target="#queryModal"
    style="background: #805ad5"
  >
    I want a Car
  </button>
  <button
    type="button"
    class="px-4 fw-bold btn rounded-pill"
    style="background: rgb(221, 218, 218)"
  >
    My Trip Details
  </button>
</div>
