<div
  class="shadow home-2-div-1 rounded d-flex justify-content-evenly align-items-center flex-wrap"
>
  <img
    src="https://gadiforme-client.vercel.app/assets/gadiforme-com-home-first-tile.jpg"
    alt="GadiForMe Second Image www.gadifor.me Cabs"
    class="home-2-img-1"
  />
  <p class="fw-bold">Cabs At Just One Click</p>
</div>
