<div
  class="shadow-lg home-3-div-1 rounded d-flex justify-content-between flex-wrap mt-5"
>
  <div>
    <button class="btn" style="color: #4299e1; background: #ebf8ff">
      WHY US
    </button>
    <h3 class="my-1">We Are India's Leading Cab Service Provider</h3>
    <p class="home-3-p-1">
      We are a cab service provider across 42+ Cities in India. We focus on
      Convenience, Safety & Affordability.
    </p>
    <p class="home-3-p-2">
        <span>
            <i class="fa-solid fa-indian-rupee-sign text-warning mx-2 home-3-icon-1"></i> Fair Pricing
        </span>
        <hr>
        <span>
            <i class="fa-solid fa-check text-success mx-2 home-3-icon-1"></i> Safety
        </span>
        <hr>
        <span>
            <i class="fa-regular fa-face-smile text-secondary mx-2 home-3-icon-1"></i> Convenience
        </span>
    </p>
  </div>
  <div>
    <img
      src="https://img.freepik.com/free-vector/meeting-business-people-avatar-character_24877-57276.jpg?w=826&t=st=1659624422~exp=1659625022~hmac=0c53d553762145c86134da0e284837a9a1f8eb3713bfa0558c5bc4412ceed0f5"
      alt="GadiForMe Second Image www.gadifor.me Cabs"
      class="home-3-img-1"
    />
  </div>
</div>
