<%-  include("../components/layout/header")%>
<meta name="description" content="Alasca Fashion, India's Leading Fashion Store for Suits, Lehengas, Gowns, Sarees and Much More On Exclusive Price" />
<title>India's Leading Fashion Store | Alasca Fashion</title>
<link rel="stylesheet" href="css/pages/index.css"></link>
<script src="js/pages/index.js"></script>
</head>
<body onload="preProcess();">
  <%- include("../components/layout/navbar"); %>
  <%- include("../components/layout/drawer"); %>

 <h1>GadiForMe</h1>
<form id="homePageForm">
  <div class="mb-6">
    <input type="text" id="Name" name="name" placeholder="Your Name" required />
  </div>
  <div class="mb-6">
    <input type="number" id="Phone" name="phone" placeholder="Your Phone" required/>
  </div>
  <div class="mb-6">
    <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Send</button>
  </div>
</form>

</body>
<%-  include("../components/layout/footer")%>