* {
  box-sizing: border-box;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
@import url("./Home.module.css");
@import url("./new-trip.css");
@import url("./trip/_id.css");
@import url("./about-us.css");
@import url("./terms-and-conditions.css");
@import url("./privacy-policy.css");
@import url("./frequently-asked-questions-faqs.css");

/*Common Begin*/
.fwb {
  font-weight: bold;
}
.navcolour {
  color: #3b82f6;
}
.red {
  color: red;
}
/*Common End*/

#nprogress {
  position: fixed;
  z-index: 1;
  width: 100vw;
  top: 0;
}
#nprogress .bar {
  background: #ed64a6;
  height: 5px;
}
