* {
  box-sizing: border-box;
  margin: 0;
}

@import url("./Home.module.css");

/*Common Begin*/
.text-bold {
  font-weight: bold;
}
.navcolour {
  color: #3b82f6;
}
/*Common End*/

#nprogress {
  position: fixed;
  z-index: 1;
  width: 100vw;
  top: 0;
}
#nprogress .bar {
  background: #fff;
  height: 5px;
}

/*Navbar CSS Begin*/
.p-menuitem-text,
.p-menuitem-icon,
.p-submenu-icon {
  color: #a855f7 !important;
}

.p-menubar :nth-child(5) {
  background-color: #a855f7;
}
.p-menubar :nth-child(5) :hover {
  background-color: #000 !important;
}

.p-menubar :nth-child(5) .p-menuitem-text {
  color: #fff !important;
}

.p-menubar :nth-child(5) .p-menuitem-icon {
  color: #fff !important;
}

.p-menubar :nth-child(5) .p-submenu-icon {
  color: #fff !important;
}
.p-accordion-header-link {
  /* Content */
  color: #000 !important;
  background-color: #fff !important;
}
.heightBelowNav {
  height: 4rem;
}
/*Navbar CSS Begin*/
