.home_text_1 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
}
/* tab */
@media (min-width: 40rem) {
  .home_tile_1 {
    width: 20rem;
  }
  .home_text_1 {
    font-size: 1.5rem;
  }
}

/*lap */
@media (min-width: 80rem) {
  .home_tile_1 {
    width: 40rem;
  }
  .home_text_1 {
    font-size: 1.5rem;
  }
}
