.new-trip-main-div {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 10vh;
}
/* tab */
@media (min-width: 40rem) {
}

/*lap */
@media (min-width: 80rem) {
}
